html{
      font-size: $htmlfs;
}
body {
    font-family: arial, 'Oswald', sans-serif;
    font-size: $fsBody;
    background-color: #fff;
    color: $textColor;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $linkColor;
    text-decoration: none !important;
    transition: color 0.2s ease-in-out;
    &:hover {
        color: $primaryColor;
    }
}
.largetitle{
  font-size: $fsTitle;
}
h1 {
    font-family: arial, sans-serif;
    font-size: $fsH1;
    line-height: 1.5;
    margin-bottom: 2rem;
}
h2,
h3 {
    font-family: arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
}
h2 {
    font-size: $fsH2;
}
h3 {
    font-size: $fsH3;
}
h4 {
    font-size: $fsH4;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Arial Narrow", "Oswald", arial, sans-serif;
  color: $primaryColor;
  font-weight: bold;
  text-transform: capitalize !important;
}
p{
  font-size: $fsBody;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.title {
    font-family: arial, sans-serif;
    font-size: $fsTitle;
    color: $primaryColor;
}
.txt-primary {
    color: $primaryColor;
}
.txt-secondary {
    color: $secondaryColor;
}
.bg-light {
    background-color: $lightGray;
}
#openNavOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99995;
    display: none;
    background-color: rgba(black,0.5);
    overflow: hidden;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin: 2rem;
}
li{
  margin-bottom: 0.5rem;
}
.row{
  padding: 60px 0px;
}
.padding100{
  padding: 100px 0px;
}
.padding90{
  padding: 90px 0px;
}
.padding80{
  padding: 80px 0px;
}
.padding70{
  padding: 70px 0px;
}
.padding60{
  padding: 60px 0px;
}
.padding50{
  padding: 50px 0px;
}
.padding40{
  padding: 40px 0px;
}
.padding30{
  padding: 30px 0px;
}
.padding25{
  padding: 25px 0px;
}
.padding20{
  padding: 20px 0px;
}
.padding10{
  padding: 10px 0px;
}
.padding0{
  padding: 0px;
}
.margin0{
  margin: 0px;
}
.paddingtop0{
  padding-top: 0px;
}
.paddingbottom0{
  padding-bottom: 0px;
}
.paddingtop25{
  padding-top: 25px;
}
.paddingbottom25{
  padding-bottom: 25px;
}
.paddingbottom60{
  padding-bottom: 60px;
}
.marginb60{
  margin-bottom: 60px;
}
.paddingright0{
  padding-right: 0px;
}
.paddingleft0{
  padding-left: 0px;
}
.marginb{
  margin-bottom: 2.5rem;
}
.margint0{
  margin-top: 0px!important;
}
.margint60{
  margin-top: 60px!important;
}
.semibold{
  font-weight: 500;
}
.normalfont{
  font-weight: normal;
}
.bold{
  font-weight: bold;
}
.whiteText{
  color: white!important;
}
.blackText{
  color: black!important;
}
.primaryColor{
  color: $primaryColor;
}
.text-align-center{
  text-align: center;
}
.largetitle{
  font-size: 4.5rem;
}
.largefont p, .largefont{
    font-size: $fsH2;
    font-weight: bold;
    font-family: "Arial Narrow", "Oswald", arial, sans-serif;
}
.normaltitle{
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
}
.button{
  background-color: $primaryColor;
  color: white;
  border: 0px;
  padding: 15px 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Arial Narrow", "Oswald", arial, sans-serif;
  font-size: 2.2rem;
  display: inline-block;
  cursor: pointer;
}
.button:hover{
  background-color: $secondaryColor;
  color: white;
}

.button.grey{
  background-color: $primaryColor;
  color: white;
  border: 0px;
  padding: 15px 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Arial Narrow", "Oswald", arial, sans-serif;
  font-size: 2.2rem;
  display: inline-block;
  cursor: pointer;
}
.button.grey:hover{
  background-color: $darkGray;
  color: white;
}

.button.invert{
  background-color: $secondaryColor;
  color: white;
  border: 0px;
  padding: 15px 20px;
  line-height: 1;
  font-size: 2.7rem;
  cursor: pointer;
}
.button.invert:hover{
  background-color: white;
  color: $secondaryColor;
}
.backgroundcover{
  background-size: cover;
}

.greyBg {
    background: #E6E7E8;
}

.blackBg {
    background: #000;

    p, ul li, ul ol {
        color: #FFF;
    }
}

.smallHeading {
    font-size: $fsH3;
}
.textCenter {
    text-align: center;
}


.betterServiceLowerPrice{
  margin-top: -60px;
}