.Contactpage{
  form{
      max-width: 460px;
      float: none;
      margin: auto;
      padding-top: 25px;
  }
  select, input[type="text"], input[type="email"], input[type="password"], input[type="password"], input[type="number"], input[type="search"], textarea{
    color: #939598;
  }
  p{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .button{
    min-width: 200px;
    float: left;
  }
  .wpcf7-textarea {
      height: 12rem;
  }
  .recaptcha{
    margin-bottom: 1.5rem;
  }
}
.page-id-221 .page-content{
  overflow: hidden;
}
.Contactpage2{
  .phone
  {
      margin-bottom: 6rem;
    a {
      font-weight: bold;
      font-size: 3.5rem;
      font-family: 'Oswald', sans-serif;
      color: #68656E;
    }
  }
  form{
      max-width: 460px;
      width: 100%;
      float: none;
      margin-left: 40px;
      padding-top: 25px;
  }
  p{
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .button{
    padding: 5px 60px;
    float: left;
  }
  .wpcf7-textarea {
      height: 12rem;
  }
  .col:first-child{
    padding-right: 75px;
    h2{
      color: $primaryColor;
      margin-bottom: 4rem;
    }
    h3{
      font-family: 'Lato', 'Oswald', sans-serif
    }
  }
  .greybackground{
    background-color: $darkGray;
    position: absolute;
    width: 1000%;
    height: 150%;
    z-index: -1;
    left: 0px;
    top: -60px;
  }
}
select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
    display: block;
    width: 100%;
    height: 5rem;
    border-radius: 0px;
    box-shadow: none;
    background-image: none;
    font-family: inherit;
    padding: 10px;
    padding-right: 0.5rem;
    background-color: #fff;
    border: 1px solid #eeeeee;
    color: rgba(0, 0, 0, 0.75);
}
select {
    padding: 0.3125rem;
}
.textarea-lg {
    height: 6rem;
}
::-webkit-input-placeholder {
    color: lighten($darkGray,10%);
}

.contact-page-form {
    select,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    textarea {
        background-color: transparent;
        border-color: #fff;
        border-width: 2px;
        color: #fff;
        max-width: 80%;
        font-size: 1rem; // 16px
    }
    option {
        color: $darkGray;
    }
    ::-webkit-input-placeholder {
        color: #fff;
    }
    textarea {
        min-height: 6rem;
    }
    .submit-container {
        display: flex;
        flex-flow: row wrap;
        p {
            margin: 0;
            padding: 0;
            flex-basis: 0;
        }
        .btn {
            font-family: "Oswald", sans-serif;
            font-weight: bold;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            margin-left: 16px;
        }
        > .wpcf7-form-control-wrap {
            // outline: 1px solid #000;
            width: 206px;
            height: 51px;
            overflow: hidden;
        }
        .page-recaptcha {
            transform: scale(0.68);
            transform-origin: 0px 0px;
        }
    }
    .wpcf7-not-valid-tip {
        color: #ff0;
    }
}

.popover-form {
    width: 100%;
    padding: 0px 10px;
    margin: auto;
    select,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    textarea {
        height: 4rem;
        margin-top: 0.25rem;
        background-color: $lightGray;
        border-color: transparent;
        border-width: 1px;
        color: $textColor;
        font-size: 1.6rem;
        padding: 0px 10px;
    }
    textarea {
        min-height: 8rem;
    }
    .submit-container {
        .button {
            float: left;
            clear: both;
            min-width: 200px;
        }
        > .wpcf7-form-control-wrap {
            // outline: 1px solid #000;
            width: 206px;
            height: 51px;
        }
        .popover-recaptcha {
            transform: scale(0.68);
            transform-origin: 0px 0px;
            float: left;
            clear: both;
        }
    }
    label {
        display: block;
        font-size: 1.6rem;
        color: #58595B;
        width: 100%;
    }
}
#popForm{
  .title{
    font-family: Arial, sans-serif;
    color: black;
    font-size: 3.5rem;
    font-weight: 900;
  }
  .modal-header.popover-header{
    padding: 25px !important;
    padding-bottom: 0px!important;
    border-bottom: 0px;
  }
  label{
    width: 100%;
  }
}
.footer-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    p,
    > .wpcf7-form-control-wrap {
        flex: 1 0 0%;
        padding: 0.25rem;
        margin-bottom: 0;
    }
    .input-name,
    .input-email {
        flex-basis: 50%;
    }
    .submit-container {
        flex: 1 0 100%;
        margin-top: 3rem;
        .button{
          min-width: 170px;
        }
        // submit button container inserted by CF7
        > p {
            flex: 0 0 27%;
        }
    }
    // captcha wrapper inserted by contact form 7
    > .wpcf7-form-control-wrap {
        // outline: 1px solid black;
        flex-basis: 0;
        position: relative;
        width: 194px;
        height: 49px;
        padding: 0;
        margin: 0 0 0 5px;
    }
    // reCaptcha
    .footer-recaptcha {
        transform: scale(0.64);
        transform-origin: 0 0;
    }
    iframe {
        position: relative;
    }
    select,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    textarea {
        font-size: 2rem;
        border-width: 2px;
        border-color: #fff;
        background-color: white;
        color: $darkGray;
    }
    option {
        color: $darkGray;
    }
    ::-webkit-input-placeholder {
        color: $darkGray;
    }
    div.wpcf7-response-output {
        margin: 2rem auto;
    }
}

@media screen and (max-width: 1199px) {
    .footer-form {
        p {
            flex-basis: 23%
        }
        > .wpcf7-form-control-wrap { // recaptcha container
            margin: 24px 1050px;
            width: 193px;
            outline: none;
            flex: 0 1 100%;
        }
        .submit-container {
            margin-top: 0;
            flex: 0;
        }
    }
}


@media screen and (max-width: 991px) {
    .contact-page-form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        p {
            flex-basis: 50%;
            padding: 0 0.5rem;
            &.textarea {
                flex-basis: 100%;
            }
        }
        .submit-container {
            padding: 0 0.5rem;
            flex-basis: 100%;
        }

        select,
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="password"],
        input[type="number"],
        input[type="search"],
        textarea {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    .footer-contact-container {
        .container {
            width: 100% !important;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .footer-form {
        p {
            flex-basis: 47%;
        }
    }
}

@media screen and (max-width: 459px) {
    .submit-container {
        p {
            flex-basis: 100% !important;
            text-align: center;
        }
    }

    .footer-form {
        p {
            flex-basis: 100%;
        }
    }
}

@media screen and (max-width: 412px) {
    .footer-form {
        > .wpcf7-form-control-wrap {
            // margin: 32px 24px 0 0;
            // outline: none;
        }
        .submit-container {
            // flex: 1 0 100%;
        }
    }
}

@media screen and (max-width: 445px) {
    .contact-page-form {
        .submit-container {
            justify-content: center;
            padding: 0;
            .btn {
                margin-top: 1.5rem;
            }
            > .wpcf7-form-control-wrap {
                margin-left: 17px;
            }
        }
    }
}
@media screen and (max-width: 491px) {
    .contact-page-form {
        > p {
            flex-basis: 100%;
        }
    }
}
