@media only screen and (max-width: 1600px) {
  .slider-content .inner-content {
      top: 75px;
  }
}
@media only screen and (max-width: $screen-lg-min) {
  .contentalign.padding100, .contentalign.padding90, .contentalign.padding80,
  .contentalign.padding70, .contentalign.padding60, .contentalign.padding50, .contentalign.padding40, .contentalign.padding30, .contentalign.padding10{
    padding: 0px;
  }
  .container-fluid {
    .contentalign.padding100, .contentalign.padding90, .contentalign.padding80,
    .contentalign.padding70, .contentalign.padding60, .contentalign.padding50, .contentalign.padding40, .contentalign.padding30, .contentalign.padding10{
      padding: 25px 0px;
    }
  }
  .flex-header {
      width: 100%;
      .logo,
      .stickylogo {
          padding-left: 1rem;
      }
      .header-block {
          .inner-block {
              padding-right: 1rem;
          }
      }
  }
  .close-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    z-index: 9999999999;
    background-color: darken($primaryColor,10%);
    border-bottom: 1px solid darken($primaryColor,15%);
    color: #fff;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-400px);
    transition: transform 0.15s ease-in-out;
    &.open {
        max-width: 100%;
        transform: translateX(0);
    }
  }
  .nav-toggle {
      display: none;
      font-size: 2.5rem;
      line-height: 45px;
      padding: 0 1rem;
      background: $secondaryColor;
      color: #fff;
      &:focus,
      &:hover {
          color: #fff;
      }
  }
  .page-id-168{
    .slider-content .inner-content {
        left: 0;
    }
  }
  .slider-content .inner-content {
      left: 100px;
      p, h1, h3 {
        margin-bottom: 2rem;
      }
  }
  .container-r .f-info {
      padding: 4rem 1rem 4rem 1rem;
      min-width: 50%;
  }
  .product-line a {
      margin: 1rem 1rem;
  }
  .product-line .slick-list {
      width: 75%;
      margin: auto;
  }
  .product-line-wrap .slick-product-next {
      right: 0px!important;
  }
  .product-line-wrap .slick-product-prev {
      left: 0px!important;
  }
  .p-products{
    .pcard-title {
        font-size: 2.7rem;
        padding-top: 0px;
        padding-bottom: 10px;
        color: #2a3249;
    }
  }
  .footer-form .submit-container {
      margin-top: 5px;
      -webkit-box-flex: 0;
      -ms-flex: 0;
      flex: 0;
      flex-basis: 47%;
  }
  .sticky-header{
    .header-nav{
          width: 95%;
    }
    .main-nav a{
      font-size: 2rem!important;
    }
    .get-quote {
        margin-left: 5px;
        float: right;
        font-size: 2.2rem!important;
    }
  }
  .header-nav .container {
    width: 100%!important;
    .get-quote {
      margin-left: 10px;
    }
  }
  .main-nav>ul>li {
      margin-left: 20px;
  }
}
@media only screen and (max-width: $screen-md-min) {
  .servicesection .col {
      max-width: 48%;
      margin: auto;
      margin-bottom: 80px;
  }
  .servicesection .col:last-child {
      max-width: 98%;
      margin-bottom: 0px;
  }
  .p-products{
    .pcard {
      max-width: 100%;
    }
  }
  .product-line .slick-list {
      width: 475px;
      margin: auto;
  }
  .f-industries .f-col {
    width: 100%;
    max-width: 48%;
  }
  .f-home .f-pics {
      order: 0;
      width: 100%;
      min-width: 100%;
      clear: both;
      float: left;
      display: block;
      padding-bottom: 50%;
  }
  .container-r .f-info {
      padding: 4rem 1rem 4rem 1rem;
      min-width: 100%;
      clear: both;
      float: left;
      display: block;
      a {
        margin-top: 2rem;
    }
  }
  .viewproducts p {
    text-align: left;
    float: left;
  }
  .header-nav{
    .container{
      width: 100%;
    }
  }
  .Contactpage2 .col:first-child {
      padding-right: 20px;
      margin-bottom: 20px;
  }
  .Contactpage2 .greybackground {
      background-color: #68656e;
      position: absolute;
      width: 1000%;
      height: 150%;
      z-index: -1;
      left: -200%;
      top: 0px;
  }
  .flex-header .logo img {
      padding-bottom: 20px;
  }
  .slider-content .inner-content {
      padding: 20px;
  }
  .slick-home-next, .slick-home-prev {
    top: 20%;
  }
  .flex-header .mobile-icons {
      display: block;
  }
  header .phone, header .get-quote{
    display: none;
  }
  .nav-toggle {
      display: block;
      margin-right: 2px;
  }
  .sticky-header {
    .mobile-icons{
      a{
        line-height: 60px;
        float: right;
        margin-right: 20px;
      }
    }
    .nav-toggle {
        line-height: 60px;
        float: right;
    }
  }
  .close-nav {
      display: block;
  }
  .main-nav {
      display: none;
  }
  .product-mast {
      // background-attachment: scroll;
      // min-height: 440px;
      // background-position: 84% 0;
  }
  .sticky-header {
      .product-mast {
          background-position: 84% 60px;
      }
  }
  .flex-header {
      .header-block {
          .inner-block {
              flex-direction: column;
              margin-bottom: 2rem;
          }
          .title {
              padding: 0;
              order: 3;
          }
      }
      .cat-social {
          margin-bottom: 10px;
      }
  }
  .padding50 {
      padding: 50px 15px;
  }
  .padding25 {
      padding: 25px 15px;
  }
  .padding0 {
      padding: 0px 15px !important;
  }
  .absolutepadding0 .padding0 {
      padding: 0px!important;
  }
  .flex-footer {
      flex-direction: row;
      .f-item {
          min-width: 100%;
          flex-basis: 100%;
          text-align: center;
      }
      .footer-nav {
          order: 1;
      }
      .netgain {
          order: 3;
      }
      .copyright {
          order: 4;
      }
  }
  .subfooter {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .f-item {
          flex-basis: 50%;
          flex: 1;
          margin-bottom: 1.5rem;
      }
      .phone-assoc {
          flex-basis: 100%;
      }
  }
  .ourteam{
    .col{
      margin-bottom: 25px;
    }
    .col:last-child{
      margin-bottom: 0px;
    }
  }
  body.sticky-header {
      margin-top: 210px;
  }

  footer{
    .social {
        float: none;
        clear: both;
        display: block;
    }
    .phone {
        float: none;
        clear: both;
        display: block;
        padding: 25px 0px;
    }
    .phone a {
        font-weight: bold;
        font-size: 3.5rem;
        font-family: 'Oswald', sans-serif;
        color: white;
        float: none;
        margin-top: 40px;
    }
  }
  .flex-header {
      justify-content: center;
      .mobile-icons {
          display: block;
          float: right;
          width: 100%;
          a{
            line-height: 60px;
            float: right;
            margin-right: 20px;
          }
          a:first-child{
            margin-right: 0px;
          }
      }
      .header-block {
          .title {
              font-size: 1.5rem;
          }
          .phone {
              a {
                  font-size: 1.5rem;
              }
          }
      }
      .cat-social {
          .button {
              margin-right: 0.4rem !important;
          }
      }
  }
  .flex-header .logo {
      -webkit-box-flex: 0;
      -ms-flex: 0;
      flex: none;
      margin-bottom: 1px;
      padding-left: 1rem;
      float: none;
      width: 100%;
      text-align: center;
  }
  .col-md-12,
  .col-lg-12 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .header-nav {
      margin-top: 0px;
  }
  footer .phone p {
      clear: both;
      float: none;
      text-align: center;
  }
  footer .logo .companylogos {
      max-width: 100%;
  }
  footer .logo .companylogos .companylogo {
    width: 20%;
  }
  .mast {
      h1, h2, p  {
        line-height: 1;
      }
  }
  .f-services .f-col {
    max-width: 260px;
  }
  .slider-content h1 {
    font-size: 3.5rem;
  }
  .locationsection iframe{
    margin-top: 25px;
  }
  .phone a {
    font-size: 2.5rem;
  }
  .f-ourteam{
    .f-pic {
        margin-top: 4rem;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
  }
  .f-industries{
    .margint0{
          margin-top: 3rem!important;
    }
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .biohazard{
    img{
      margin-top: 40px;
    }
  }
  .servicearea h2 {
      margin-bottom: 5px;
  }
  .servicearea p {
      margin-bottom: 10px;
      margin-top: 15px;
  }
  .servicesection .col {
      max-width: 95%;
      margin: auto;
      margin-bottom: 80px;
  }
  .servicesection .col:last-child {
      max-width: 95%;
      margin-bottom: 0px;
  }
  .slider-content h1 {
    font-size: 2.5rem;
  }
  .flex-header .logo img {
    max-width: 100%;
  }
  .f-services {
    justify-content: center;
  }
  .f-services .f-col {
    max-width: 275px;
  }
  .f-industries .f-col {
    width: 100%;
    max-width: 100%;
  }
  .f-product .f-col {
      background: #fff;
      max-width: 400px;
      width: 100%;
      float: none;
      margin: auto;
      margin-top: 20px;
  }
  .product-line .slick-list {
      width: 240px;
      margin: auto;
  }
  .mast {
      &.page-mast,
      &.product-mast {
          .mast-overlay {
              padding: 2rem 1rem;
              width: 100%;
              background: $primaryColor;
              position: static;
              transform: none;
              // margin: 0 0 1px 0;
              border-bottom: 1px solid rgba(white,0.75);
              text-align: center;
              h1 {
                  font-size: 2.1875rem; // 35px
              }
              img {
                  margin: 1.5rem auto 0 auto;
              }
          }
          p:last-child {
              // margin-bottom: 1.5rem;
          }
      }
  }
  .sticky-header {
      .nav-toggle,
      .get-quote {
          line-height: 45px;
      }
  }
  .mast {
      .mast-overlay {
          // display: none;
      }
  }
  .slick-home-next, .slick-home-prev {
      top: 10%;
      font-size: 3rem;
  }
  .meetourteam p {
      float: left;
      display: inline-block;
      margin-bottom: 40px;
      margin-top: 0px;
  }
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  footer .logo .companylogos .companylogo {
    width: 30%;
  }
}
@media only screen and (max-width: $screen-xsm-max) {
  .col-sm-12,
  .col-xsm-12,
  .col-md-12,
  .col-lg-12 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
    .Contactpage2 form {
        max-width: 100%;
        width: 100%;
        float: none;
        margin-left: .0px;
        padding-top: 25px;
    }
    .flex-header .logo {
        height: 125px;
    }

    .flex-header .logo img {
        width: 100%;
        padding: 20px 0px;
        padding-bottom: 0px;
    }
  .nav-phone, .nav-contact, .nav-toggle{
      span{
        display: none;
      }
  }
  .p-products{
    .pcard-img{
      margin: auto;
    }
  }
  body:not(.sticky-header) {
    .nav-phone, .nav-contact{
      display: block;
      font-size: 1.5rem;
    }
      .site-header {
          height: auto;
          padding: 0 1rem;
      }
      .flex-header {
        display: block;
        height: auto;
        min-height: 198px;
          .stickylogo {
            display: none;
          }
          .header-block {
              text-align: center !important;
              .inner-block {
                  align-items: center;
                  margin-bottom: 1rem;
                  padding: 0;
              }
          }
          .phone {
              text-align: center !important;
          }
      }
      .header-nav {
          margin-right: -1rem;
      }
  }
    .g-recaptcha{
      transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
    }

}
@media only screen and (max-width: 389px) {
  .nav-toggle{
    span{
      display: none;
    }
  }

}
